{{#extends "base"}}

    {{#block "content"}}
        <a href="/admin" class="btn btn-lg btn-secondary">Back</a>
        <h1 class="mt-3">Arts</h1>
        <a href="/arts/create" class="btn btn-success">Add New</a>

        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Year</th>
                    <th>Total Shares</th>
                    <th>Artist</th>
                    <th>Vault</th>
                    <th>Medias</th>
                    <th>Tags</th>
                    <th>Image</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>

            </thead>
            <tbody>
                {{#each arts}}
                    <tr>
                        <td>
                            {{this.name}}
                        </td>
                        <td>
                            {{this.description}}
                        </td>
                        <td>
                            {{this.year}}
                        </td>
                        <td>
                            {{this.total_share}}
                        </td>
                        <td>
                            {{this.artist.first_name}}
                            {{this.artist.last_name}}
                        </td>
                        <td>
                            {{this.vault.name}}
                        </td>
                        <td>
                            {{#each this.medias}}
                                <span class="badge bg-primary">{{this.name}}</span>
                            {{/each}}
                        </td>
                        <td>
                            {{#each this.tags}}
                                <span class="badge bg-primary">{{this.name}}</span>
                            {{/each}}
                        </td>
                        <td>
                            <img class="img-thumbnail" src="{{this.image_url}}" />
                        </td>
                        <td>
                            <a href="/arts/{{this.id}}/update" class="btn btn-success">Update</a>
                        </td>
                        <td>
                            <a href="/arts/{{this.id}}/delete" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/block}}

{{/extends}}