{{#extends "base"}}

    {{#block "content"}}
        <a href="/admin" class="btn btn-lg btn-secondary">Back</a>
        <div class="mt-3 border border-info p-3">
            <form method="POST">
                <h1>Add a Media</h1>
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                {{{form}}}
                <input type="submit" value="Add Media" class="btn btn-primary mt-2" />
            </form>
        </div>
        <h1 class="mt-3">Medias</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>

            </thead>
            <tbody>
                {{#each medias}}
                    <tr>
                        <td>
                            {{this.name}}
                        </td>
                        <td>
                            <a href="/medias/{{this.id}}/update" class="btn btn-success">Update</a>
                        </td>
                        <td>
                            <a href="/medias/{{this.id}}/delete" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/block}}

{{/extends}}