{{#extends "base"}}

    {{#block "content"}}
        <h1>Tags</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>

            </thead>
            <tbody>
                {{#each tags}}
                    <tr>
                        <td>
                            {{this.name}}
                        </td>
                        <td>
                            <a href="/tags/{{this.id}}/update" class="btn btn-success">Update</a>
                        </td>
                        <td>
                            <a href="/tags/{{this.id}}/delete" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <div class="mt-5">
            <form method="POST">
                <h1>Add a Tag</h1>
                <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                {{{form}}}
                <input type="submit" value="Add Tag" class="btn btn-primary mt-2" />
            </form>
        </div>
    {{/block}}

{{/extends}}